<% provide(:title, "About Us") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>About Us </h1>
	  <center>
		  Kalypso began as a research project by Roberto Falconi and Salvatore Licitra, friends and students of Sapienza University of Rome.
	  </center>
	  <h2>Why the name of Kalypso?</h2>
	  <center>Kalypso was a nymph in Greek mythology, who lived on the island of Ogygia, where she detained Odysseus for several years.</center>
	  <center>The etymology of Kalypso's name is from καλύπτω (kalyptō), meaning "to hide".</center>
	  <center>In modern days, Kalypso still love to hide, but she isn't anymore a nymph.</center>
	  <h2>So... what is Kalypso?</h2>
	  <center>Kalypso is a dynamic web app that allows you to encrypt messages. It uses Kerckhoffs principle: A cryptosystem should be secure even if everything about the system, except the key, is public knowledge.</center>
	  <h2>How does she works?</h2>
	  <center>Kalypso outputs a JSON string containing everything that needs to be saved for future decryption.</center>
  </body>
</html>

