<% provide(:title, "About Us") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>About Us </h1>
	  <center>
		  Kalypso began as a research project by Roberto Falconi and Salvatore Licitra, two students of Sapienza University of Rome.
	  </center>
  </body>
</html>

