<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  <h2>Contact Kalypso's creators!</h2>
	<div class="container">
  <form action="">

    <label for="name">Name</label>
    <input type="text" id="fname" name="name" placeholder="Your name..">

    <label for="email">E-Mail</label>
    <input type="text" id="email" name="email" placeholder="Your e-mail..">

    <label for="reason">Reason</label>
    <select id="reason" name="reason">
      <option value="feedback">Feedback</option>
      <option value="assistance">Assistance</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>
<p>
