<% provide(:title,"F.A.Q.") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>F.A.Q. </h1>
	  <h2>Why Kalypso?</h2>
	  <center>Kalypso was a nymph in Greek mythology, who lived on the island of Ogygia, where she detained Odysseus for several years.</center>
	  <center>The etymology of Calypso's name is from καλύπτω (kalyptō), meaning "to hide".</center>
	  <center>In modern days, Kalypso still love to hide, but she isn't anymore a nymph.</center>
	  <h2>What is Kalypso?</h2>
	  <center>Kalypso is a dynamic web app that allows you to encrypt messages. It uses Kerckhoffs principle: A cryptosystem should be secure even if everything about the system, except the key, is public knowledge.</center>
		<h2>How does it works?</h2>
	  <center>We encrypt your messages without saving nothing on our servers. We do not even save the encrypted result!</center>
  </body>
</html>
