<% provide(:title,"F.A.Q.") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>F.A.Q.</h1>
	  <h2>Why Kalypso?</h2>
	  <center>Kalypso was a nymph in Greek mythology, who lived on the island of Ogygia, where she detained Odysseus for several years.</center>
	  <center>The etymology of Kalypso's name is from καλύπτω (kalyptō), meaning "to hide".</center>
	  <center>In modern days, Kalypso still love to hide, but she isn't anymore a nymph.</center>
	  <h2>So... what is Kalypso?</h2>
	  <center>Kalypso is a dynamic web app that allows you to encrypt messages. It uses Kerckhoffs principle: A cryptosystem should be secure even if everything about the system, except the key, is public knowledge.</center>
	  <h2>How does she works?</h2>
	  <center>Kalypso outputs a JSON string containing everything that needs to be saved for future decryption.</center>
	  <h2>I forgot my password. What now?</h2>
	  <center>Due to Kalypso's characteristics, user's security is an our focus. </br>To maximize system security, you have to 
	  <a href="mailto:admin@kalypso.com?Subject=Password%20reset" target="_top">Contact Us</a> 
	  with your account e-mail asking for a password reset.</center>
	  <h2>Does she respect my privacy?</h2>
	  <center>Kalypso encrypts your messages without saving them on her servers. She does not even store the encrypted results!</center> -->
	  
  </body>
</html>
