<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="center jumbotron">
      <h1>Kalypso</h1>

      <h2>an encrypt messages web app</h2>

      <%= link_to "Sign up now!", '#', class:"btn btn-lg btn-primary" %>
    </div>

  </body>
</html>
