<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="center jumbotron">
      <h1>Welcome to Kalypso</h1>

		<h2>Encrypting messages web service <br>focused on your privacy and your security</h2>
      <%= link_to "Sign up now!", signup_path, class:"btn btn-lg btn-primary" %><br><br>
	  <%= link_to "Encrypt or decrypt a message now!", messages_path, class:"btn btn-lg btn-primary" %>
    </div>

  </body>
</html>
