<% provide(:title,"Website has been temporary suspended for maintenance") %>
<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>
			Kalypso needs to rest
		</h1>
		<h2>
			Thanks for you patience Odysseus (it will not take twenty years)
		</h2>
	</body>
</html>