<% provide(:title,"Website has been temporary suspended for maintenance") %>
<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>
			Website has been temporary suspended for maintenance
		</h1>
		<h2>
			Sorry for the inconvenience and thanks for you patience Odysseus (it will not take twenty years)
		</h2>
	</body>
</html>