<% provide(:title, "Thanks for using Kalypso!") %>
	
<div class="row">
  <div class="col-md-6 col-md-offset-3">
   		<h1>Il tuo messaggio criptato è:</h1>
	 	<center><textarea readonly rows="4" cols="40"><%= @message.messaggio %></textarea></center>
	  	<center>
			<small>Non verrà tenuta traccia del messaggio sui server di Kalypso</small>
	    </center>
  </div>
</div>