<% provide(:title, @user.name) %>


<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Hi, <%= @user.name %>!</h1>
		
		<center><%= link_to "Encrypt or decrypt a message now!", messages_path, class:"btn btn-lg btn-primary"%></center>
		

	</div>
</div>
