<footer class="footer">
  <small> encrypt yourself!</small>
  <nav>
    <ul>
      <li><%= link_to "About Us",  about_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
      <li><%= link_to "F.A.Q.", faq_path %></li>
    </ul>
  </nav>
</footer>
